<div class="w3-container">
    <article class="markdown-body entry-content" itemprop="text">
        <p>
            <a target="_blank" href="https://camo.githubusercontent.com/f7043beaaf2cd7d031c0cff5514f4ec0961b9021/68747470733a2f2f776561726577697365722e636f6d2f6173736574732f696d616765732f77697365722d6c6f676f2f77697365722d707572706c652e737667">
                <img src="https://camo.githubusercontent.com/f7043beaaf2cd7d031c0cff5514f4ec0961b9021/68747470733a2f2f776561726577697365722e636f6d2f6173736574732f696d616765732f77697365722d6c6f676f2f77697365722d707572706c652e737667" alt="Alt Wiser" data-canonical-src="https://wearewiser.com/assets/images/wiser-logo/wiser-purple.svg" style="max-width:100%;">
            </a>
        </p>
        <h1>
            <a id="user-content-frontend-developer-test" class="anchor" aria-hidden="true" href="#frontend-developer-test">
            </a>Frontend Developer Test
        </h1>
        <h2>
            <a id="user-content-about-this-test" class="anchor" aria-hidden="true" href="#about-this-test">
            </a> About This Test
        </h2>
        <p>
            This test is for a frontend developer position with Wiser. This will test your knowlege of the Angular framework, API usage,
            programming practices, written skills, and TDD and code coverage. Fork this test to provide solutions. When complete,
            email a repository link to <a href="mailto:engineering@wearewiser.com">engineering@wearewiser.com</a>.
        </p>
        <p>
            Please commit your answers regularly. There is no time limit, though we will be looking at the commit metrics. We will be
            looking for DRY code and good coding practices with high code coverage. Update the README to explain the code-base.
        </p>
    </article>
</div>