<div class="w3-container">
    <!-- <article class="markdown-body entry-content" itemprop="text">
        <p>
            <a target="_blank" href="https://camo.githubusercontent.com/f7043beaaf2cd7d031c0cff5514f4ec0961b9021/68747470733a2f2f776561726577697365722e636f6d2f6173736574732f696d616765732f77697365722d6c6f676f2f77697365722d707572706c652e737667">
                <img src="https://camo.githubusercontent.com/f7043beaaf2cd7d031c0cff5514f4ec0961b9021/68747470733a2f2f776561726577697365722e636f6d2f6173736574732f696d616765732f77697365722d6c6f676f2f77697365722d707572706c652e737667" alt="Alt Wiser" data-canonical-src="https://wearewiser.com/assets/images/wiser-logo/wiser-purple.svg" style="max-width:100%;">
            </a>
        </p>
        <h1>
            <a id="user-content-frontend-developer-test" class="anchor" aria-hidden="true" href="#frontend-developer-test">
            </a>Frontend Developer Test
        </h1>
        <h2>
            <a id="user-content-about-this-test" class="anchor" aria-hidden="true" href="#about-this-test">
            </a> About This Test
        </h2>
        <p>
            This test is for a frontend developer position with Wiser. This will test your knowlege of the Angular framework, API usage,
            programming practices, written skills, and TDD and code coverage. Fork this test to provide solutions. When complete,
            email a repository link to <a href="mailto:engineering@wearewiser.com">engineering@wearewiser.com</a>.
        </p>
        <p>
            Please commit your answers regularly. There is no time limit, though we will be looking at the commit metrics. We will be
            looking for DRY code and good coding practices with high code coverage. Update the README to explain the code-base.
        </p>
    </article> -->

    <div ng-bind-html="trustedHtml" class="ng-binding"><p><img src="https://wearewiser.com/assets/images/wiser-logo/wiser-purple.svg" alt="Alt Wiser"></p>
        <h3 id="frontend-developer-test">Frontend Developer Test</h3>
        <h4 id="about-this-test">About This Test</h4>
        <p>This test is for a frontend developer position with Wiser. This will test your knowlege of the Angular framework, API usage, programming practices, written skills, and TDD and code coverage. Fork this test to provide solutions. When complete, create a merge request into master and email <a href="mailto:engineering@wearewiser.com">engineering@wearewiser.com</a> to let us know!</p>
        <p>Please commit your code regularly. There is no time limit, though we will be looking at the commit metrics. We will be looking for DRY code and good coding practices with high code coverage. Update the README to explain the code-base.</p>
        <h4 id="the-test">The Test</h4>
        <h5 id="outcome-goals">Outcome Goals</h5>
        <p>The following table describes what we will be looking for in the test (<em>Table 1</em>). You should feel familiar with each of the following.</p>
        <table>
        <thead>
        <tr>
        <th style="text-align:left;">Skill</th>
        <th style="text-align:left;">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td style="text-align:left;">Component pages</td>
        <td style="text-align:left;">Components used to generate pages node in child/parent page tree.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Component partials</td>
        <td style="text-align:left;">Components used to generage partials.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Shared services</td>
        <td style="text-align:left;">The service's dependency injection scope hierarchy.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Routing</td>
        <td style="text-align:left;">Routing using the RouterModule.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Routing guards</td>
        <td style="text-align:left;">Superset of service classes used to manage routing events.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Lazy loading</td>
        <td style="text-align:left;">Loading module bundles when a targeted path is hit.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Application modules</td>
        <td style="text-align:left;">Modules used to define a group of related view components that are loaded as a bundle.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Shared modules</td>
        <td style="text-align:left;">Modules used to define a group of related shared services, pipes, components, ect.</td>
        </tr>
        <tr>
        <td style="text-align:left;">HttpClient</td>
        <td style="text-align:left;">Module for making Http calls (AJAX) from the application.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Angular Forms</td>
        <td style="text-align:left;">Angular forms module for handling data binding across form elements.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Angular Animations</td>
        <td style="text-align:left;">Angular animation framework for coordinating animation events on triggers.</td>
        </tr>
        <tr>
        <td style="text-align:left;">RxJS/async data</td>
        <td style="text-align:left;">Handling async data elegantly (error handling, cleaned up subscriptions, ect. ).</td>
        </tr>
        <tr>
        <td style="text-align:left;">Structured directories</td>
        <td style="text-align:left;">File and directory organization.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Coding practices</td>
        <td style="text-align:left;">Make use of <em>best practices</em> (code reusability, readability, ect).</td>
        </tr>
        <tr>
        <td style="text-align:left;">Unit testing</td>
        <td style="text-align:left;">Unit testing with <code>npm run test</code>.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Code coverage</td>
        <td style="text-align:left;">100% code coverage with <code>npm run coverage</code>.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Written skills</td>
        <td style="text-align:left;">A README and descriptive function / variable naming.</td>
        </tr>
        </tbody>
        </table>
        <blockquote>
          <p><em><strong>Table 1</strong></em></p>
          <p>Outcome Goals - Goals we wish to see you demonstrate throughout the course of your test.</p>
        </blockquote>
        <h5 id="project-outline">Project Outline</h5>
        <p>You will be makeing an authenticated application. The application will require at least three pages (<em>Table 2</em>). There will be some restrictions below on the functionallity of the authentication pieces, however, you are free to make your own design choices regarding these pages, and you are free to add any content you wish in the secure page(s).</p>
        <table>
        <thead>
        <tr>
        <th style="text-align:left;">Page</th>
        <th style="text-align:left;">Route</th>
        <th style="text-align:left;">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td style="text-align:left;">Login</td>
        <td style="text-align:left;">/auth/login</td>
        <td style="text-align:left;">Must play an animation on a failed login attempt. Redirect to <code>/secure</code> on success.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Logout</td>
        <td style="text-align:left;">/auth/logout</td>
        <td style="text-align:left;">Once accessed, the session is purged of any state and the user is redirected to <code>/auth/login</code> after 1500ms.</td>
        </tr>
        <tr>
        <td style="text-align:left;">Secure</td>
        <td style="text-align:left;">/secure/**</td>
        <td style="text-align:left;">Must be authenticated. Should be able to access on refresh. Free to make own content/design choices.</td>
        </tr>
        </tbody>
        </table>
        <blockquote>
          <p><em><strong>Table 2</strong></em></p>
          <p>Required pages to be implemented.</p>
        </blockquote>
        <p>Please note that we will require that a notification animation play on a failed login attempt - this must be choreographed with Angular animations framework. Finally, the secure route must be guarded against access using an authentication guard; the guard must be used to determine the validity of the access token each time a secure page is accessed <em><strong>HINT</strong>: Access tokens expire, so always verify them against the API</em>.</p>
        <p>The authentication pages and the secure page(s) will live in two distinct application modules. These two modules will be required to be loaded using lazy loading. They should not require any code from any of the other modules - that is, the authentication module should not require code from the secure module or the <em>AppModule</em>, and the secure module should not require any code from the authentication module or the <em>AppModule</em>. Only a select number of files in the AppModule should be edited in order to complete this task, and no logic should change within these select files - no other files should be edited outside from the modules you will be defining (<em>List 1</em>).</p>
        <ul>
        <li>navbar.component.ts</li>
        <li>navbar.component.spec.ts</li>
        <li>environment.ts</li>
        <li>environment.prod.ts</li>
        <li>app.component.spec.ts</li>
        <li>app.module.ts</li>
        <li>README.md</li>
        </ul>
        <blockquote>
          <p><em><strong>List 1</strong></em></p>
          <p>Existing files may be modified.</p>
        </blockquote>
        <p>You have been provided with an API to which you will make requests against (<em>Table 3</em>). This API provides single user authentication functionallity, using basic authentication. You are provided with the credentials necessary to authenticate (<em>Table 4</em>). You can test these authentication credentials using bash (<em>Figure 1</em>).</p>
        <table>
        <thead>
        <tr>
        <th style="text-align:center;">Endpoint</th>
        <th style="text-align:left;">Route</th>
        <th style="text-align:left;">Description</th>
        <th style="text-align:left;">cURL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td style="text-align:center;">Ping</td>
        <td style="text-align:left;"><a href="https://dev-test-service.madebywiser.com/ping">https://dev-test-service.madebywiser.com/ping</a></td>
        <td style="text-align:left;">Probably useless for this project. Can be used for sanity during development.</td>
        <td style="text-align:left;"><code>curl -X GET https://dev-test-service.madebywiser.com/ping</code></td>
        </tr>
        <tr>
        <td style="text-align:center;">Login</td>
        <td style="text-align:left;"><a href="https://dev-test-service.madebywiser.com/login">https://dev-test-service.madebywiser.com/login</a></td>
        <td style="text-align:left;">Will return an plaintext access token on successful basic authentication.</td>
        <td style="text-align:left;"><code>curl -X GET https://dev-test-service.madebywiser.com/login -u &lt;username&gt;:&lt;password&gt;</code></td>
        </tr>
        <tr>
        <td style="text-align:center;">Me</td>
        <td style="text-align:left;"><a href="https://dev-test-service.madebywiser.com/me">https://dev-test-service.madebywiser.com/me</a></td>
        <td style="text-align:left;">Will return a <code>{{'{'}}username: string, expires: number{{'}'}}</code> object on JWT authentication with a valid token.</td>
        <td style="text-align:left;"><code>curl -X GET https://dev-test-service.madebywiser.com/me -H 'Authorization: JWT &lt;token&gt;'</code></td>
        </tr>
        </tbody>
        </table>
        <blockquote>
          <p><em><strong>Table 3</strong></em></p>
          <p>Available API for authentication.</p>
        </blockquote>
        <table>
        <thead>
        <tr>
        <th style="text-align:center;"></th>
        <th style="text-align:center;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td style="text-align:center;">username</td>
        <td style="text-align:center;"><em>wiserdev</em></td>
        </tr>
        <tr>
        <td style="text-align:center;">password</td>
        <td style="text-align:center;"><em>password</em></td>
        </tr>
        </tbody>
        </table>
        <blockquote>
          <p><em><strong>Table 4</strong></em></p>
          <p>Authentication credentials.</p>
        </blockquote>
        <pre><code class="bash language-bash">curl -X GET https://dev-test-service.madebywiser.com/login -u wiserdev:password</code></pre>
        <blockquote>
          <p><em><strong>Figure 1</strong></em></p>
          <p>Testing credentials against the API using cURL.</p>
        </blockquote>
        <p>Finally, note that we will be running automated testing against the code base (<em>List 2</em>). Please ensure that your code passes all these tests.</p>
        <ul>
        <li><code>npm run lint</code></li>
        <li><code>npm run test -- --browser=PhantomJS --watch=false</code></li>
        <li><code>npm run coverage</code></li>
        <li><code>npm run build -- --prod --aot</code></li>
        </ul>
        <blockquote>
          <p><em><strong>List 2</strong></em></p>
          <p>Quality assurance scripts that will be run by continuous integration.</p>
        </blockquote>
        <h5 id="bonus-points">Bonus Points</h5>
        <p>Below is a list of ideas that can earn you bonus points - feel free to be creative, as this is not a comprehensive list (<em>List 3</em>).</p>
        <ul>
        <li>Inactivity timeout with redirect to <code>/auth/logout</code></li>
        <li>Multiple well thought out child pages to <code>/secure</code>.</li>
        <li>PWA feature support</li>
        <li>Additional animations or creative design</li>
        </ul>
        <blockquote>
          <p><em><strong>List 3</strong></em></p>
          <p>Bonus point ideas.</p>
        </blockquote>
        <p>Please note that the core requirements are far more important than any possible bonus points. Please spend your time ensuring you've met the outcome goals before embarking on any additiona features.</p>
        <h5 id="project-demo">Project Demo</h5>
        <p>A demo of the project can be seen <a href="https://demo.madebywiser.com">here</a>. You can use the credentials outline above to authenticate (<em>Table 4</em>).</p>
        <h5 id="submission">Submission</h5>
        <p>Firstly, please ensure you have a well structured README.md file that explains your project. Please ensure that you have followed all the instructions, and that all the quality assurance tests pass (<em>List 3</em>).</p>
        <p>Once you are ready to submit your code, open a merge request from your forked repository back into the <a href="https://github.com/wearewiser/frontend-dev-test">source repo</a> on the <em>master</em> branch. You can see the automated CI testing <a href="https://travis-ci.org/wearewiser/frontend-dev-test/pull_requests">here</a>. Finally, send us an email at <a href="mailto:engineering@wearewiser.com">engineering@wearewiser.com</a> to let us know about the awesome thing you built!</p>
        <p><em>Have fun!</em></p></div>

    
</div>